@charset "UTF-8";
@font-face {
  font-family: 'Pristina';
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url(../fonts/PRISTINA.TTF);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
@font-face {
  font-family: 'Minion Pro';
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url(../fonts/MinionPro-Regular.otf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
@font-face {
  font-family: 'Minion Bold';
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url(../fonts/MinionPro-Bold.otf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
/* colors */
/* borders */
/* images */
@keyframes cart-done {
  0% {
    transform: scale(0.1);
    background-color: #313131;
    border-width: 0; }
  50% {
    transform: scale(0.5);
    background-color: #d56e00;
    border-width: 0; }
  100% {
    transform: scale(1);
    background-color: #d54b00;
    border-width: 0; } }
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start; }

.flex-item {
  padding: 5px;
  width: calc(100%/3);
  height: 150px;
  color: white;
  text-align: center;
  box-sizing: border-box; }

body {
  background-image: url("../img/dark_wood.png"); }
  body * {
    box-sizing: border-box; }
  body a:visited {
    text-decoration: none; }
  body ul {
    list-style: none; }

header {
  font-family: 'Minion Pro';
  width: 100%;
  background-image: url("../img/1.png");
  height: 300px;
  /* todo: shaddow */ }
  header .container {
    display: block;
    margin-left: calc(123px*100%/1400);
    margin-right: calc(123px*100%/1400);
    padding-top: 30px;
    padding-bottom: 35px;
    color: #fffce2; }
    header .container .mobile, header .container .hours {
      position: relative;
      float: left;
      margin-left: 35px;
      font-size: 15px;
      opacity: 0.85;
      letter-spacing: 1px;
      margin-top: 10px; }
    header .container .mobile::before {
      background-image: url(../img/phone-receiver.png);
      background-size: 20px 20px;
      background-repeat: no-repeat; }
    header .container .hours::before {
      background-image: url(../img/three-quarters-of-an-hour.png);
      background-size: 20px 20px;
      background-repeat: no-repeat; }
    header .container .mobile::before, header .container .hours::before {
      background-position: left top;
      content: " ";
      position: absolute;
      top: 0;
      left: -30px;
      width: 30px;
      height: 30px; }
    header .container .contacts {
      padding: 7px 12px; }
    header .container .right-header {
      text-align: right; }
  header .divider {
    position: absolute;
    left: 0;
    border-bottom: 1px solid rgba(255, 252, 226, 0.4);
    width: 100%;
    height: 15px; }

.main {
  background-image: url(../img/banner.png);
  height: 700px; }

.btn-account {
  padding: 7px 12px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px; }

.btn-account:first-letter {
  font-size: 12px; }

.btn-account:hover {
  background-color: rgba(255, 255, 255, 0.07); }

.btn-cart {
  width: 40px;
  height: 40px;
  padding: 13px 12px;
  background-color: transparent;
  background-image: url(../img/shopping-store-cart-.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center bottom;
  border-width: 0;
  margin-left: 10px;
  position: relative;
  background-blend-mode: screen; }
  .btn-cart .cart-circle {
    position: absolute;
    top: 5px;
    right: -5px;
    background-color: white;
    border: 1px solid #313131;
    border-radius: 50%;
    color: #313131;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding-top: 1px;
    text-align: center; }

.container .second {
  margin-top: 45px; }
  .container .second .menu {
    text-align: right; }
    .container .second .menu ul {
      margin-top: 40px;
      list-style: none; }
      .container .second .menu ul li {
        float: right;
        padding: 1px 15px;
        border-right: 2px solid #fffce2; }
      .container .second .menu ul a {
        color: #fffce2; }
      .container .second .menu ul .active a {
        color: #ffcf3e; }
      .container .second .menu ul a:hover {
        color: #ffcf3e;
        text-decoration: none; }
      .container .second .menu ul a:focus {
        text-decoration: none; }
    .container .second .menu ul :first-child {
      border-width: 0; }

.body {
  position: relative;
  width: 90%;
  background-color: white;
  margin: auto;
  top: -80px;
  padding: 40px 30px; }
  .body .header {
    text-align: center;
    font-size: 44px;
    font-family: 'Pristina';
    color: #d54b00; }
    .body .header .colorful {
      color: #d56e00; }

.cart {
  font-family: 'Minion Pro';
  margin: 10px 40px; }
  .cart .cart-header {
    font-family: 'Minion Bold';
    background-color: #313131;
    color: white;
    padding: 15px 0;
    font-size: 20px; }
  .cart .cart-items {
    margin-bottom: 30px; }
  .cart .item {
    height: 80px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.21); }
    .cart .item * {
      font-size: 16px;
      padding-top: 34px; }
    .cart .item .col-md-1 {
      padding-top: 22px; }
    .cart .item .bucket {
      display: block;
      background-image: url(../img/rubbish-bin.png);
      background-size: 30px 30px;
      background-repeat: no-repeat;
      background-position: center center;
      width: 30px;
      cursor: pointer; }
    .cart .item .bucket:hover {
      opacity: 0.9; }
    .cart .item .name {
      color: #d54b00; }
    .cart .item .price span, .cart .item .total span {
      font-size: 12px; }
    .cart .item .price .span-price, .cart .item .total .span-price {
      font-size: 16px;
      padding-right: 3px; }
    .cart .item .quant span {
      display: inline-block;
      padding-top: 0;
      box-sizing: content-box;
      padding: 0 5px; }
    .cart .item .quant .arrow {
      cursor: pointer;
      width: 16px;
      height: 16px;
      background-image: url(../img/next.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 12px 12px; }
    .cart .item .quant .before {
      background-image: url(../img/next2.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 12px 12px; }
  .cart .totals .row {
    height: 60px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.21);
    padding-top: 22px;
    font-size: 16px;
    padding-left: 15px; }
    .cart .totals .row div span {
      font-size: 13px; }
    .cart .totals .row div .span-price {
      font-size: 16px; }
  .cart .totals .pre-total {
    opacity: 0.8; }
  .cart .totals .total .sum {
    font-family: 'Minion Bold'; }
  .cart .totals .proceed {
    margin-top: 20px;
    padding: 0; }
    .cart .totals .proceed button {
      width: 100%;
      margin: auto; }
  .cart .btn-order {
    padding: 15px 10px;
    background-color: #ffc000;
    color: white;
    font-size: 16px;
    font-family: 'Minion Bold';
    text-align: center;
    border-width: 0;
    border-radius: 10px;
    width: 100%; }
  .cart .btn-order:hover {
    background-color: #ffcf3e;
    text-decoration: none; }

footer {
  width: 100%;
  position: relative;
  font-size: 14px;
  opacity: .8; }
  footer .container {
    display: block;
    margin-left: calc(123px*100%/1400);
    margin-top: -50px;
    padding-bottom: 15px;
    color: #fffce2; }
    footer .container div {
      display: inline-block;
      width: calc(100%/3.3); }
    footer .container .ua {
      text-align: center; }
      footer .container .ua * {
        display: inline-block;
        padding: 5px; }
    footer .container .privacy-policy {
      text-align: right; }

.form-control {
  border-radius: 0 !important;
  height: 44px; }

.form-data {
  padding: 20px; }
  .form-data label {
    font-family: 'Minion Pro';
    font-size: 15px;
    color: #d54b00; }

.required {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d54b00;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 15px; }

select {
  display: block;
  position: relative;
  background-color: transparent !important; }

textarea {
  resize: none; }

.mandatory {
  color: #313131 !important;
  font-size: 12px;
  opacity: 0.8; }

.burger {
  position: relative;
  box-sizing: border-box;
  height: 350px;
  color: #313131;
  margin: 30px;
  font-family: 'Minion Pro';
  border: 1px solid rgba(51, 51, 51, 0.21); }
  .burger:hover {
    border: 1px solid black;
    transition: 0.5s; }
    .burger:hover .photo {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      transition-delay: 0s;
      transition: 0.5s; }
    .burger:hover .description {
      opacity: .8;
      visibility: visible;
      transition-delay: 0s; }
  .burger .name {
    font-family: 'Minion Bold';
    font-size: 30px;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 20px 15px 0 15px;
    color: #641818; }
  .burger .size {
    position: relative;
    font-size: 14px;
    text-align: right;
    padding-right: 30%;
    color: rgba(48, 48, 48, 0.78);
    float: right; }
  .burger .spicy {
    position: relative;
    display: block;
    float: right;
    padding-right: 20px;
    background-image: url(../img/chili.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px; }
  .burger .photo {
    background-image: url(../img/burger.png);
    background-size: 150px 135px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 210px;
    position: relative; }
  .burger .price, .burger .add {
    width: 48.899%;
    float: left;
    padding: 15px;
    position: relative; }
  .burger .price {
    font-family: 'Minion Bold';
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
    color: #641818; }
  .burger .add {
    text-align: center;
    padding-right: 20px;
    position: relative; }
    .burger .add .btn-add {
      display: block;
      float: right;
      margin-right: 25px;
      margin-top: -5px;
      width: 30px;
      height: 30px;
      padding-right: 15px;
      background-color: transparent;
      border-width: 0;
      background-color: #d56e00;
      -webkit-mask-size: 100%;
      -webkit-mask-image: url(../img/shopping-store-cart-2.png);
      cursor: pointer; }
    .burger .add .btn-add:hover {
      background-color: #d54b00; }
  .burger .add-done {
    -webkit-mask-image: url(../img/checked.png) !important;
    animation: cart-done 0.15s ease-out 1; }
  .burger .description {
    visibility: hidden;
    background-color: black;
    opacity: .8;
    color: white;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    height: 190px;
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    padding: 22px 35px; }
    .burger .description .desc-header {
      color: #ffcf3e;
      margin-bottom: 10px; }
    .burger .description article {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      height: 90px;
      padding: 0;
      margin: 0;
      margin-bottom: 5px; }
      .burger .description article .ingridients {
        padding: 0;
        list-style: none;
        padding: 0;
        margin: 0; }
        .burger .description article .ingridients li {
          padding: 0;
          margin: 0;
          margin-top: -4px; }
    .burger .description .roasting p {
      width: auto;
      float: left; }
      .burger .description .roasting p:first-child {
        color: #ffcf3e;
        padding-right: 10px; }

/*_________________________________CUSTOM_BURGER_________________________*/
.custom .burger {
  background-image: url("../img/custom.jpg");
  background-size: 125% 100%;
  background-repeat: no-repeat;
  background-position: center center; }
  .custom .burger .name {
    text-shadow: 1px 1px 14px black;
    background-color: rgba(0, 0, 0, 0.65);
    color: #fffce2;
    font-size: 27px;
    padding: 45px 20px;
    top: 95px; }
    .custom .burger .name span {
      color: #ffcf3e; }
  .custom .burger .photo {
    background-image: none; }
  .custom .burger a {
    width: 70%;
    text-align: center;
    text-shadow: none;
    opacity: 0;
    position: absolute;
    background-color: #ffcf3e;
    color: #313131;
    padding: 27px 0;
    font-size: 27px;
    font-family: 'Minion Bold';
    top: 40%;
    left: 15%; }
  .custom .burger a:hover {
    text-decoration: none;
    color: #d54b00; }
  .custom .burger:hover {
    border: 1px solid black;
    transition: 0.5s; }
    .custom .burger:hover .photo {
      -webkit-transform: none;
      transform: none; }
    .custom .burger:hover .name {
      overflow-y: hidden;
      -webkit-transform: scale(1, 2.05);
      transform: scale(1, 2.05);
      transition-delay: 0s;
      transition: 0.3s;
      color: transparent;
      text-shadow: none;
      z-index: 0; }
    .custom .burger:hover .name {
      color: transparent; }
    .custom .burger:hover .name span {
      color: transparent; }
    .custom .burger:hover a {
      opacity: 1;
      z-index: 1;
      transition: 0.4s; }

/*---------------------------main--------------------------*/
/* TODO : shaddows */
.anti-slider {
  width: 100%;
  text-align: center;
  margin-top: 55px; }
  .anti-slider .sl-header {
    text-shadow: 0px -1px 12px black;
    font-family: 'Pristina';
    color: #ffcf3e;
    font-size: 60px; }
  .anti-slider p {
    text-shadow: 0px -1px 12px black;
    margin-top: 20px;
    color: white;
    font-family: 'Minion Pro';
    font-size: 20px; }
  .anti-slider .btn-visit {
    margin: auto;
    font-family: 'Minion Bold';
    font-size: 16px;
    background-color: rgba(255, 207, 62, 0.73);
    border-width: 0;
    padding: 10px 50px;
    color: #313131;
    margin-top: 10px; }
    .anti-slider .btn-visit a:hover {
      text-decoration: none; }
    .anti-slider .btn-visit a {
      color: #313131; }
    .anti-slider .btn-visit:hover {
      background-color: #ffcf3e; }

.index {
  margin-top: 30px; }
  .index .about {
    padding: 30px 100px 20px 20px; }
  .index .header, .index article {
    font-size: 60px;
    text-align: right; }
  .index article {
    font-family: 'Minion Pro';
    margin-top: 30px;
    padding-left: 0px;
    font-size: 22px; }
  .index .image {
    padding: 20px  20px 20px 100px; }
    .index .image img {
      border: 15px solid #313131;
      width: 355px;
      height: 400px; }

.update a {
  display: block;
  width: 100%; }

.about form input, .about form textarea {
  width: 130%;
  padding: 0 25px; }
.about form textarea {
  color: grey; }
.about form button {
  font-family: 'Minion Bold';
  font-size: 18px;
  border: none;
  width: 107%;
  padding: 15px 20px;
  background-color: #ffcf3e;
  color: #313131;
  text-align: center; }
  .about form button:hover {
    background-color: #ffcc33; }

.no-items {
  text-align: center; }

.order-done-info {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 155%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white; }
  .order-done-info .info {
    position: fixed;
    width: 26%;
    height: 150px;
    margin: auto;
    background-color: white;
    color: #313131;
    margin-left: calc((100% - 26%)/2);
    margin-top: 200px;
    font-size: 18px;
    font-family: 'Minion Pro'; }
    .order-done-info .info .modal-header {
      width: 100%;
      height: 40px;
      background-color: #313131;
      text-align: right; }
      .order-done-info .info .modal-header button {
        width: 20px;
        height: 20px;
        border: none;
        background-color: transparent;
        background-image: url(../img/cancel.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: left top; }
    .order-done-info .info .text {
      padding: 25px 30px; }

.show {
  visibility: visible; }

/*_________________CONSTRUCTOR______________*/
.item-list .item {
  display: block;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  height: 80px;
  border: 1px solid white; }
  .item-list .item input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none; }
  .item-list .item .photo {
    background-size: 59px 55px;
    background-position: top right;
    background-repeat: no-repeat; }
  .item-list .item .col-md-6 {
    padding-left: 30px;
    padding-right: 30px; }
  .item-list .item .name {
    position: relative;
    font-weight: bold;
    color: #d54b00;
    text-align: left;
    white-space: normal; }
  .item-list .item .price {
    color: #313131;
    font-weight: normal;
    text-align: left; }
  .item-list .item:hover {
    border: 1px solid rgba(51, 51, 51, 0.21);
    color: #313131; }

.tab-pane .btn-group {
  width: 100%; }
  .tab-pane .btn-group .photo {
    background-image: url("../img/constructor/whitebun.png");
    background-size: 59px 55px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 90px;
    height: 60px;
    float: left;
    position: relative; }

.proba2 {
  text-align: left; }

.btn.active {
  border: 1px solid rgba(51, 51, 51, 0.21);
  color: inherit; }

.btn:focus {
  border: 1px solid rgba(51, 51, 51, 0.21);
  color: black; }

.btn:visited {
  color: inherit; }

.btn:active {
  color: inherit; }

.btn.active {
  background: -webkit-linear-gradient(-45deg, rgba(222, 239, 255, 0) 0%, rgba(223, 238, 251, 0) 2%, rgba(243, 219, 133, 0) 63%, rgba(255, 207, 62, 0.25) 100%);
  /* Chrome10-25,Safari5.1-6 */ }

.add-spiciness {
  width: 20px;
  height: 27px;
  background-image: url(../img/chili.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: transparent;
  border-width: 0;
  opacity: 0.5;
  margin-left: 15px; }

.add-spiciness:active, .add-spiciness.active {
  outline: none;
  opacity: 1;
  background-image: url(../img/chili.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: top center;
  border-width: 0; }

.add-spiciness:focus {
  outline: none;
  border-width: 0; }

#spiceTooltip {
  position: absolute;
  display: inline-block;
  content: " ";
  width: 13px;
  left: 13px;
  height: 26px;
  background-image: url(../img/question.png);
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: center left;
  cursor: pointer; }

#spiceTooltip:after {
  opacity: 0;
  visibility: hidden;
  color: #d54b00;
  font-size: 12px;
  border-left: 1px solid rgba(51, 51, 51, 0.21);
  padding: 2px 7px;
  width: 270px;
  display: block;
  position: absolute;
  left: 140px;
  top: 3px;
  content: "We will add to your burger habanero pepper"; }

#spiceTooltip:hover:after {
  visibility: visible;
  opacity: 0.9;
  transition: 0.4s; }

.tab-content {
  height: 350px;
  border: 1px solid rgba(51, 51, 51, 0.21);
  border-top-width: 0;
  padding-left: 15px; }

.custom-info {
  margin-top: 25px;
  padding: 25px; }
  .custom-info article {
    margin-bottom: 25px; }
  .custom-info .add {
    padding: 10px 15px;
    color: #313131;
    background-color: #ffcf3e;
    border: 1px solid rgba(51, 51, 51, 0.21); }
    .custom-info .add:hover {
      color: #646464; }
  .custom-info .ingridients div {
    font-weight: bold;
    padding: 3px;
    color: #d54b00; }
    .custom-info .ingridients div span, .custom-info .ingridients div ul li {
      padding-left: 7px;
      font-weight: normal;
      color: #313131; }
  .custom-info .ingridients .total {
    font-size: 16px;
    text-align: right;
    padding-right: 10px; }

.b {
  margin: 0;
  padding: 0;
  padding-right: 15px; }

#roasting .item-list .item .name {
  margin-top: 15px; }

/*# sourceMappingURL=style.css.map */
