<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width,  initial-scale=1">
<head>
	<title>Cart</title>


	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/script.js"></script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/cart-mobile.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">

</head>
<body>
<header>

	<div class="container">

		<div class="row">
			<div class="col-md-5 contacts">
				<div class="mobile">+38 (050) 555 55 55</div>
				<div class="hours">7:00 - 23:00</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-3 right-header">
				<button class="btn-account">My account</button>
                <a th:href="@{/cart}"><button class="btn-cart">
					<div id="itemsNum" class="cart-circle" th:text="${session.currentCart.getQuantityTotal()}">77</div>
                </button></a>
			</div>
		</div>

		<div class="divider"></div>


	<div class="row second">
		<div class="col-md-2"><img src="img/logo1.png"></div>
		<div class="col-md-5"></div>
		<div class="col-md-5 menu mobile-hidden" id="menuPanel">
			<ul>
				<div class="close" onclick="$('#menuPanel').hide(500);"></div>
				<li><a th:href="@{/contacts}">CONTACTS</a></li>
				<li class="active"><a th:href="@{/menu}">STORE</a></li>
				<li><a th:href="@{/}">HOME</a></li>
			</ul>
		</div>
		<div class="menu-mobile" id="menuMob" onclick="$('#menuPanel').show(500);"></div>
	</div>
	
</div>
</header>

<div class="body" >
	<div class="header">Cart</div>

	<div class="cart" >
		<div class="cart-items">
		<div class="row cart-header">
			<div class="col-md-1"></div>
			<div class="col-md-5">Item</div>
			<div class="col-md-2">Price</div>
			<div class="col-md-2">Quantity</div>
			<div class="col-md-2">Total</div>
		</div>

			<div class="row item" th:if="${#lists.isEmpty(session.currentCart.getCartLines())}">
				<div class="col-md-12 no-items">Cart has no items</div>
			</div>
		<div class="row item" th:each="cartLine : ${session.currentCart.getCartLines()}">
			<!--<div class="col-md-1 bucket">  For the better times...-->
			<div class="col-md-1">
				<a th:href="@{/shoppingCartRemoveProduct(id=${cartLine.getBurgerInfo().getId()})}" class="bucket"></a>
			</div>
			<div class="col-md-5 name" th:text="${cartLine.getBurgerInfo().getName()}">American Burger</div>
			<div class="col-md-2 price" ><span class="span-price" th:text="${#numbers.formatDecimal(cartLine.getBurgerInfo().getPrice(),1,0)}">380.00 </span><span>UAH</span></div>
			<div class="col-md-2 quant">
				<!--<span class="arrow before"  th:onclick="'javascript:decrItem(this,\'' + ${cartLine.getBurgerInfo().getPrice()} + '\')'"></span>-->
				<a th:href="@{/removeBurger(id=${cartLine.getBurgerInfo().getId()})}"><span class="arrow before" ></span></a>
				<span th:text="${cartLine.getQuantity()}"id="quantity">1</span>
				<!--<span class="arrow after" id="aAfter"  th:onclick="'javascript:incrItem(this,\'' + ${cartLine.getBurgerInfo().getPrice()} + '\')'"></span>-->
				<a th:href="@{/buyBurger(id=${cartLine.getBurgerInfo().getId()})}"><span class="arrow after" id="aAfter" ></span></a>
				</div>
			<div class="col-md-2 total"><span class="span-price" th:text="${#numbers.formatDecimal(cartLine.getAmount(),1,0)}">380.00</span><span>UAH</span></div>
		</div>

		</div>

		<div class="row totals" th:if="${not #lists.isEmpty(session.currentCart.getCartLines())}">
			<div class="col-md-9"></div>
			<div class="col-md-3 proceed">
				<div class="row cart-header"><div class="col-md-12">Cart totals</div></div>
				<div class="row pre-total">
					<div class="col-md-6" >Subtotal</div>
					<div class="col-md-6"><span class="span-price" th:text="${#numbers.formatDecimal(session.currentCart.getAmountTotal(),1,0)}">600.00 </span> <span>  UAH</span> </div>
				</div>
				<div class="row total">
					<div class="col-md-6">Total</div>
					<!--<div class="col-md-6 sum"  th:text="${session.currentCart.getAmountTotal()}">600.00 <span>UAH</span> </div>-->
					<div class="col-md-6 sum"><span class="span-price" th:text="${#numbers.formatDecimal(session.currentCart.getAmountTotal(),1,0)}">600.00</span> <span>UAH</span> </div>
				</div>

				<div class="col-md-12 proceed">
					<!--<button class="btn-order">-->
					<a
							th:href="@{/shoppingCartCustomer}" class="btn-order">PROCEED  TO  CHECKOUT</a>
					<!--</button>-->
				</div>
			</div>
		</div>




	</div>

</div>

<!--<footer>-->
<!--<div class="container">-->
	<!--<div class="logo"><img src="img/logo2.png"></div>-->
	<!--<div class="ua"><img src="img/ukraine.png"><p>ua</p></div>-->
	<!--<div class="privacy-policy">Privacy Policy 2017</div>-->
<!--</div>-->
<!--</footer>-->

<div th:replace="login :: #background"></div>

</body>
</html>