<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width,  initial-scale=1">
<head>
    <title>Burger Constructor</title>


    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/script.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">

</head>
<body>
<header><div th:replace = "fragments/header :: header('store')"></div></header>

<div class="body">
    <div class="header">Burger Constructor</div>
    <div class="row">
        <div class="col-md-7">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#bread">Bread Type</a></li>
                <li><a data-toggle="tab" href="#meat">Meat Type</a></li>
                <li id="roastingTab"><a data-toggle="tab" href="#roasting">Roasting</a></li>
                <li><a data-toggle="tab" href="#sauce">Sauces</a></li>
                <li><a data-toggle="tab" href="#misk">Other</a></li>
            </ul>

            <div class="tab-content" >
                <div id="bread" class="tab-pane fade in active">


                    <div class="btn-group row item-list" data-toggle="buttons">

                        <div class="col-md-6" th:each="breadType : ${breadTypes}">
                        <label class="btn item" style="outline: none;" th:onclick="|checkSingle('bread', '${breadType.getName()}', ${breadType.getPrice()})|">
                                <div class="photo" th:style="'background-image: url(img/constructor/' + ${breadType.getPhoto()} + ')'"></div>
                                <!--TODO: Insert right id-->
                                <input type="radio" name="options">
                                <div class="name" th:text="${breadType.getName()}">W</div>
                                <div class="price" th:text="${breadType.getPrice()} + ' UAH'">0 UAH</div>
                            </label>
                        </div>

                    </div>


                </div>
                <div id="meat" class="tab-pane fade">

                    <div class="btn-group row item-list" data-toggle="buttons">
                        <div class="col-md-6" th:each="meatType : ${meat} ">
                            <label class="btn item" style="outline: none;" th:onclick="|meatEdit('${meatType.roastingEnabled}', '${meatType.getName()}', '${meatType.getPrice()}')|">

            
                                <div class="photo" th:style="'background-image: url(img/constructor/' + ${meatType.getPhoto()} + ')'"></div>
                                <!--TODO: Insert right id-->
                                <input type="radio" name="options" id="meat1">
                                <div class="name" th:text="${meatType.getName()}"> Chick</div>
                                <div class="price" th:text="${meatType.getPrice()} + ' UAH'">2 UAH</div>
                            </label>
                        </div>

                    </div>

                </div>
                <div id="roasting" class="tab-pane fade">

                    <div class="btn-group row item-list" data-toggle="buttons">

                        <div class="col-md-6" th:each="ingredient : ${ingredients}" th:if="${ingredient.getConstructorCategory() == T(Delivery.enums.ConstructorCategory).Roasting}">

                            <label class="btn item" style="outline: none;" th:onclick="|checkSingle('roasting', '${ingredient.getName()}', '0')|">

                                <div class="photo" th:style="'background-image: url(img/constructor/' + ${ingredient.getPhoto()} + ')'"></div>
                                <!--TODO: Insert right id-->
                                <input type="radio" name="options" id="roast1">
                                <div class="name" th:text="${ingredient.getName()}"> Rare</div>
                            </label>
                        </div>

                    </div>
                </div>


                <div id="sauce" class="tab-pane fade">

                    <div class="btn-group row item-list" data-toggle="buttons">

                        <div class="col-md-6" th:each="sauce : ${sauces}">
                            <label class="btn item" style="outline: none;" th:onclick="|checkMultiple('sauces', '${sauce.getName()}', '${sauce.getPrice()}',this)|">

                                <div class="photo" th:style="'background-image: url(img/constructor/' + ${sauce.getPhoto()} + ')'"></div>
                                <input type="checkbox" name="options">
                                <div class="name" th:text="${sauce.getName()}"> Yellow Mustard</div>
                                <div class="price" th:text="${sauce.getPrice()} + ' UAH'">5 UAH</div>
                            </label>
                        </div>

                    </div>
            </div>
                <div id="misk" class="tab-pane fade">
                    <div class="btn-group row item-list" data-toggle="buttons">

                        <div class="col-md-6" th:each="ingredient : ${ingredients}" th:if="${ingredient.getConstructorCategory() == T(Delivery.enums.ConstructorCategory).Misc}">
                            <label class="btn item" style="outline: none;" th:onclick="|checkMultiple('misk', '${ingredient.getName()}', '${ingredient.getPrice()}',this)|">

                                <div class="photo" th:style="'background-image: url(img/constructor/' + ${ingredient.getPhoto()} + ')'"></div>
                                <input type="checkbox" name="options">
                                <div class="name" th:text="${ingredient.getName()}"> Yellow Mustard</div>
                                <div class="price" th:text="${ingredient.getPrice()} + ' UAH'">5 UAH</div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 b">
            <!--<form class="custom-info" name="customburger">-->
            <div class="custom-info" name="customburger">
                <article>Ausi ente me idem utor adeo ob ille. Hominem inferri hos effugio una vel istarum. Gnum ii
                    iste amen ab visu atra. Deo sic olim sese amen. Im co vereor opinio certas.
                </article>

                <div class="ingridients">
                    <div class="burger-items">
                    <span id="spiceTooltip"> </span>
                    <div class="spiciness">Spiciness:
                        <button type="button" class="btn add-spiciness" data-toggle="button" onclick="checkSpicy()"></button>
                    </div>
                    <div class="bun" id="customBread">Bun:<span>White Bread</span></div>
                    <div class="meat" id="customMeat">Meat:<span>Beef</span></div>
                    <div class="roasting" id="customRoasting">Roasting:<span>Medium Rare</span></div>
                        <div class="sauces" id="customSauces">Sauces:
                            <span>Ketchup</span>
                        </div>
                        <div class="misk" id="customMisk">Other:
                            <span>No additional ingredients</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-3">
                            <div class="total" id="customPrice">50 UAH</div>
                        </div>

                        <form class="col-md-5" action="#" th:action="@{/newCustomBurger}" method="post" onsubmit="addjson()">
                            <button type="submit" id="addToCartId" name="addtocartname" value="" class="btn-order">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--</form>-->
        </div>
    </div>

</div>
<div th:replace="fragments/login :: registration"></div>

</body>
</html>