<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width,  initial-scale=1">
<head>
	<title>Contact Us</title>

	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/script.js"></script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">

</head>
<body>
<header>

	<div class="container">

		<div class="row">
			<div class="col-md-5 contacts">
				<div class="mobile">+38 (050) 555 55 55</div>
				<div class="hours">7:00 - 23:00</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-3 right-header">
				<button class="btn-account">My account</button>
				<a th:href="@{/cart}"><button class="btn-cart">
					<div id="counter" class="cart-circle" th:text="${session.currentCart.getQuantityTotal()}">0</div>
				</button></a>
			</div>
		</div>

		<div class="divider"></div>


	<div class="row second">
		<div class="col-md-2"><img src="img/logo1.png"></div>
		<div class="col-md-5"></div>
		<div class="col-md-5 menu mobile-hidden" id="menuPanel">
			<ul>
				<div class="close" onclick="$('#menuPanel').hide(500);"></div>
				<li class="active"><a href="#">CONTACTS</a></li>
				<li><a th:href="@{/menu}">STORE</a></li>
				<li><a th:href="@{/}">HOME</a></li>
			</ul>
		</div>
		<div class="menu-mobile" id="menuMob" onclick="$('#menuPanel').show(500);"></div>
	</div>
	
</div>
</header>

<div class="body index">
	<div class="row">
		<div class="col-md-5 img">
			<div class="image"><img src="img/ma.png" style="height: 460px;width: 306px;"></div>
		</div>
		<div class="col-md-7 contacts">
			<div class="about">
				<div class="header">Contact Us</div>
				<div class="form-data">
				<form class="form-horizontal" role="form" method="post" th:action="@{/contacts}" th:object="${feedback}">
  					<div class="form-group">
   						<div class="col-sm-10">
     						<input type="text" th:field="*{name}" class="form-control" id="inputName3" placeholder="name" required>
    					</div>
  					</div>
  					<div class="form-group">
    				
    				<div class="col-sm-10">
      					<input type="email" th:field="*{email}" class="form-control" id="inputEmail3" placeholder="email">
    				</div>
  					</div>

  					<div class="form-group">
   						<div class="col-sm-10">
     						<!--<textarea type="email" class="form-control" id="inputEmail3" placeholder="Email" multiple>-->
     						<textarea th:field="*{message}" class="form-control" rows="5">message</textarea>
    					</div>
  					</div>

  					<button type="submit">send message</button>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<footer>-->
<!--<div class="container">-->
	<!--<div class="logo"><img src="img/logo2.png"></div>-->
	<!--<div class="ua"><img src="img/ukraine.png"><p>ua</p></div>-->
	<!--<div class="privacy-policy">Privacy Policy 2017</div>-->
<!--</div>-->
<!--</footer>-->

<div th:replace="login :: #background"></div>

</body>
</html>