<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width,  initial-scale=1">
	<head>
	<title>Cart</title>
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>-->

</head>
<body>
<header class="main"><div th:replace = "fragments/header :: header('home')"></div>

<div class="anti-slider">
	<div class="sl-header">Java Burgers</div>
	<p>Fast and tasty food. Delivery to all lolKekChebureks of Kiev.</p>
	<a th:href="@{/menu}"><button class="btn-visit">visit store</button></a>
</div>
</header>

<div class="body index">

	<div class="row">
		<div class="col-md-6 img-main">
			<div class="image"><img src="img/main-burger.png"></div>
		</div>
		<div class="col-md-6 text">
			<div class="about">
				<div class="header">About Us</div>
				<article>Expendere rea eos scientiam assentiri tantumque aliquibus. Is ex aliquot saporem corpore at obscure. Cui veri quo dat sine ibi nudi dare. Nonnisi aperire et diversi majoris visione an vi. Rom ponderibus respondeam imaginarer hic externarum. Nudi suam de ha nunc ecce at in sine. Ne longo tenus ii du ferri et. Via tes excludat .</article>
			</div>
		</div>
	</div>
	</div>


<div th:replace="fragments/login :: registration"></div>

</body>
</html>