<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width,  initial-scale=1">
<head>
    <title>Cart</title>


    <link rel="stylesheet" type="text/css" href="css/style.css">


    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/script.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">

</head>
<header>
    <div th:replace = "fragments/header :: header('')"></div>
</header>

<div class="body">

    <!--<div class="header">Profile Info</div>-->
    <!--<div class="info">-->
        <!--<p><span>Name: </span>Tania Dmitrenko</p>-->
        <!--<p><span>E-mail: </span>Tania Dmitrenko</p>-->
        <!--&lt;!&ndash;<p><span>Name: </span>Tania Dmitrenko</p>&ndash;&gt;-->
    <!--</div>-->


    <div class="customburger-info">
        <div class="header">Your Burgers</div>


        <!--If customer has not ordered custom burgers yet-->

        <div class="row empty" th:if="${#lists.isEmpty(orderedBurgers)}">You have not chosen burgers yet :( <a th:href="@{/constructor}"> Let's go to the constructor and make the ideal burger</a></div>



        <div class="row">
            <div class="col-md-4" th:each="burgerUserRating : ${orderedBurgers}">
            <div class="burger">
                <div class="name" th:text="${burgerUserRating.getBurger().getName()}">New York</div>
                <div class="burgerinfo" onclick='showDescription(this)'></div>
                <div class="size" th:text="${burgerUserRating.getBurger().getWeight()}  + 'g'">400g</div>
                <div class="spicy" th:if="${burgerUserRating.getBurger().getSpicy()} == true"></div>

                <div class="photo" th:style="'background-image: url(img/burgers/' + ${burgerUserRating.getBurger().getPhoto()} + ')'"></div>
                <div class="description">
                    <div class="desc-header">Ingridients:</div>
                    <article>
                        <ul class="ingridients">
                            <li th:text="${burgerUserRating.getBurger().getBreadType().getName()}">White Bread</li>
                            <li th:text="${burgerUserRating.getBurger().getMeat().getName()}">Beef</li>
                            <li th:each="ing : ${burgerUserRating.getBurger().getIngredients()}" th:text="${ing.getName()}">salad</li>
                        </ul>
                    </article>
                    <div class="roasting"><p>Roasting: </p><p th:text="${burgerUserRating.getBurger().getRoasting()}"> medium well</p></div>
                </div>

                <div class="price" th:text="${burgerUserRating.getBurger().getPrice()} + ' UAH'">210 UAH</div>
                <div class="add">
                    <a th:href="@{/buyBurgerMenu(id=${burgerUserRating.getBurger().getId()})}" class="btn-add" id="addToCart" onclick="addToCart(this)"></a>
                </div>
            </div>
            <div th:replace="fragments/login :: stars(${burgerUserRating.getRating()},${burgerUserRating.getBurger().getId()})"></div>
            </div>

        </div>
    </div>

</div>
</html>