<!DOCTYPE html5>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Cart</title>


	<link rel="stylesheet" type="text/css" href="css/style.css">


	<script src="js/jquery-3.1.0.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

</head>
<body>
<header class="main">

	<div class="container">

		<div class="row">
			<div class="col-md-5 contacts">
				<div class="mobile">+38 (050) 555 55 55</div>
				<div class="hours">7:00 - 23:00</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-3 right-header">
				<button class="btn-account">My account</button>
				<button class="btn-cart">
					<div id="itemsNum" class="cart-circle" th:text="${session.currentCart.getQuantityTotal()}">77</div>
				</button>
			</div>
		</div>

		<div class="divider"></div>


	<div class="row second">
		<div class="col-md-2"><img src="img/logo1.png"></div>
		<div class="col-md-5"></div>
		<div class="col-md-5 menu">
			<ul>
				<li><a href="#">CONTACTS</a></li>
				<li class="active"><a th:href="@{/menu}">STORE</a></li>
				<li><a th:href="@{/}">HOME</a></li>
			</ul>
		</div>
	</div>
	
</div>

<div class="anti-slider">
	<div class="sl-header">Java Burgers</div>
	<p>Fast and tasty food. Delivery to all lolKekChebureks of Kiev.</p>
	<button class="btn-visit">visit store</button>
</div>
</header>

<div class="body index">

	<div class="row">
		<div class="col-md-6">
			<div class="image"><img src="img/main-burger.png"></div>
		</div>
		<div class="col-md-6">
			<div class="about">
				<div class="header">About Us</div>
				<article>Expendere rea eos scientiam assentiri tantumque aliquibus. Is ex aliquot saporem corpore at obscure. Cui veri quo dat sine ibi nudi dare. Nonnisi aperire et diversi majoris visione an vi. Rom ponderibus respondeam imaginarer hic externarum. Nudi suam de ha nunc ecce at in sine. Ne longo tenus ii du ferri et. Via tes excludat .</article>
			</div>
		</div>
	</div>
	



	</div>


<footer>
<div class="container">
	<div class="logo"><img src="img/logo2.png"></div>
	<div class="ua"><img src="img/ukraine.png"><p>ua</p></div>
	<div class="privacy-policy">Privacy Policy 2017</div>
</div>
</footer>
</body>
</html>