<!DOCTYPE html5>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Cart</title>





	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/script.js"></script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
<header>

	<div class="container">

		<div class="row">
			<div class="col-md-5 contacts">
				<div class="mobile">+38 (050) 555 55 55</div>
				<div class="hours">7:00 - 23:00</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-3 right-header">
				<button class="btn-account">My account</button>
				<button class="btn-cart">
					<div id="counter" class="cart-circle">0</div>
				</button>
			</div>
		</div>

		<div class="divider"></div>


	<div class="row second">
		<div class="col-md-2"><img src="img/logo1.png"></div>
		<div class="col-md-5"></div>
		<div class="col-md-5 menu">
			<ul>
				<li><a href="#">CONTACTS</a></li>
				<li class="active"><a href="#">STORE</a></li>
				<li><a href="#">HOME</a></li>
			</ul>
		</div>
	</div>
	
</div>
</header>

<div class="body">

    <div class="header">Burger <span class="colorful">Store</span></div>
    <div class="item-list">
        <div class="row">

            <div class="col-md-4" th:each="burger : ${burgers}">
                <div class="burger">
                    <div class="name" th:text="${burger.getName()}">New York</div>

                    <div class="size" th:text="${burger.getWeight()}  + 'g'">400g</div>
                    <div class="spicy" th:if="${burger.getSpicy()} == true"></div>

					<div class="photo" th:style="'background-image: url(img/burgers/' + ${burger.getPhoto()} + ')'"></div>
					<div class="description">
                        <div class="desc-header">Ingridients:</div>
                        <article>
                            <ul class="ingridients">
                                <li th:text="${burger.getBreadType()}">White Bread</li>
                                <li th:each="ing : ${burger.getIngredients()}" th:text="${ing}">salad</li>
                            </ul>
                        </article>
                        <div class="roasting"><p>Roasting: </p><p  th:text="${burger.getRoasting()}"> medium well</p></div>
                    </div>

                    <div class="price" th:text="${burger.getPrice()} + ' UAH'">210 UAH</div>
                    <div class="add"><button class="btn-add" id="addToCart" onclick="addToCart(this)"></button></div>

                </div>
            </div>

        </div>
    </div>
</div>


<footer>
<div class="container">
	<div class="logo"><img src="img/logo2.png"></div>
	<div class="ua"><img src="img/ukraine.png"><p>ua</p></div>
	<div class="privacy-policy">Privacy Policy 2017</div>
</div>
</footer>
</body>
</html>